@page "/unitofmaterials"
@inherits UomComponent
@inject UserLoginData _user

<h3>Unit Of Materials</h3>
@if( Units == null)
{
	@if(!_user.IsLoggedIn)
	{
		<br />
		<p>You have to login first!..</p>
	}
	else
	{
		<br />
		<DisplaySpinner/>		
	}
}
else
{
	<h3 class="mb-5"></h3>

	@if(Units != null )
	{
		var listRowList = new BaseResponse<UomResponse>();

		<div>
			<div class="col-md-9">
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th scope="col">UoMCode</th>
							<th scope="col">Description</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var item in Units.Data)
						{
							<tr>
								<td>@item.Id</td>             
								<td>@item.UoMCode</td>                  
								<td>@item.Description</td>                    
							</tr>                    
						}
					</tbody>
				</table>
			</div>
		</div>
	}
}
